.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(255, 255, 255, 0.514) 35px,
    rgba(255, 255, 255, 0.689) 70px
  );
  user-select: none;
}
.joinButton {
  background-color: rgb(26, 144, 75);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-size: x-large;
}
.waitingButton {
  background-color: rgb(95, 105, 102);
  color: #fff;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: x-large;
}
.resetButton {
  background-color: rgb(191, 26, 26);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-size: x-large;
}
.mole {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgb(66, 217, 36) 10%,
    rgba(28, 110, 40, 1) 81%,
    rgba(23, 96, 34, 1) 100%
  );
  cursor: pointer;
  transition: background 0.4s ease-in-out;
}
.mole:hover {
  background: radial-gradient(
    circle,
    rgb(87, 209, 62) 25%,
    rgb(39, 125, 52) 81%,
    rgba(23, 96, 34, 1) 100%
  );
}

.not-mole {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(179, 41, 41, 1) 5%,
    rgba(118, 37, 43, 1) 81%,
    rgba(114, 37, 37, 1) 100%
  );
  cursor: pointer;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.timer {
  font-size: 15rem;
  font-weight: bold;
  color: #fff;
  opacity: 0.6;
}
.score {
  font-size: 8rem;
  font-weight: bold;
  color: #000;
  opacity: 0.6;
}

.gameOver {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameOverText {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  opacity: 0.4;
}

.menu {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: flex-start;
}

.menu h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.menu img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.debugButton {
  position: absolute;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background-color: rgb(78, 21, 158);
  padding: 4px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.debugId {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}
